---
layout: default
description: "Enostavno branju, hitra referenca za PHP najboljše prakse, sprejete kodne standarde in povezave do avtoriziranih PHP vodičev po spletu"
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Nazaj na vrh](#top){.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.anchor }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
